
{{!--#models-table class="mt-5" data=data columns=columns columnsAreUpdateable=true themeInstance=themeInstance pageSize=limit pageSizeValues=pageSizeValues as |mt|}}
    {{#mt.table as |table|}}

        {{#table.header as |header|}}
            {{header.row-sorting sort=(action "sort")}}
            {{header.row-filtering}}
        {{/table.header}}

        {{#table.body as |body|}}
            {{#if body.allColumnsAreHidden}}
                {{body.columns-hidden}}
            {{else}}
                {{#if body.visibleContent.length}}
                    {{#each body.visibleContent as |record index|}}
                            {{body.row record=record index=index}}
                        {{#if (exists-in body.expandedItems record)}}
                            {{body.row-expand record=record index=index}}
                        {{/if}}
                    {{/each}}
                {{else}}
                    {{#unless error}}
                        {{ember-spinner class="top"}}
                     {{/unless}}
                    {{body.no-data}}
                {{/if}}
            {{/if}}
        {{/table.body}}

    {{/mt.table}}
    {{mt.footer 
        currentPageNumber=page 
        firstIndex=firstIndex 
        lastIndex=lastIndex 
        recordsCount=totalRecords
        useNumericPagination=true 
        pagesCount=totalPages 
        goToPage=(action "goToPage")
    }}
    {{!--#mt.footer as |footer|}}
        {{footer.summary}}
        {{footer.size-select}}
        {{footer.pagination-numeric pagesCount=totalPages goToPage=(action "goToPage")}}

    {{/mt.footer}}

{{/models-table--}}

{{#models-table-server-paginated
    filterQueryParameters=filterQueryParameters
    data=data 
    columns=columns 
    columnsAreUpdateable=true 
    themeInstance=themeInstance 
    pageSize=limit 
    pageSizeValues=pageSizeValues
    as |mt|}}
    {{#if mt.isLoading}}
        <div class="overlay">
            <p><i class="glyphicon glyphicon-refresh"></i></p>
        </div>
    {{/if}}
    {{mt.table}}
    {{mt.footer 
        currentPageNumber=page 
        firstIndex=firstIndex 
        lastIndex=lastIndex 
        recordsCount=totalRecords
        useNumericPagination=true 
        pagesCount=totalPages 
        goToPage=(action "goToPage")
    }}
{{/models-table-server-paginated}}