{{#if error}}
    <h3 style="color:red">A loading derp has occurred</h3>
{{/if}}

<div class="container-fluid music-table">
    {{table-title "albums"}}


{{#models-table class="mt-5" data=model columns=columns themeInstance=themeInstance pageSize=25 expandedRowComponent=(component "expanded-row") as |mt|}}
    {{#mt.table as |table|}}

        {{#table.header as |header|}}
        {{#each header.groupedHeaders as |groupedHeader|}}
            {{header.row-sorting }}
            {{header.row-filtering filteringIgnoreCase=true}}
            {{!--header.grouped-header groupedHeader=groupedHeader--}}
        {{/each}}
        {{header.row-sorting}}
        {{header.row-filtering}}
        {{/table.header}}

        {{#table.body as |body|}}
            {{#if body.allColumnsAreHidden}}
                {{body.columns-hidden}}
            {{else}}
                {{#if body.visibleContent.length}}
                    {{#each body.visibleContent as |record index|}}
                            {{body.row record=record index=index}}
                        {{#if (exists-in body.expandedItems record)}}
                            {{log record}}
                            <h1>Tracks in album: {{record.Title}} by {{record.Artist.Name}} </h1>
                            {{body.row-expand record=record.Tracks index=index}}
                        {{/if}}
                    {{/each}}
                {{else}}
                    {{ember-spinner class="top"}}
                    {{body.no-data}}
                {{/if}}
            {{/if}}
        {{/table.body}}

    {{#table.footer as |footer|}}
        {{footer.pagination-numeric}}
    {{/table.footer}}

    {{/mt.table}}

    {{#mt.footer as |footer|}}
        {{footer.pagination-simple}}
        {{footer.size-select pageSize=25 }}

    {{/mt.footer}}

{{/models-table}}

</div>
{{#if loading}}
    {{loader-icon}}
{{/if}}


