<div class="container-fluid page-header-container">
    <div class="header-wraper">
        <div class="row">
            <div class="col-lg-4 "{{action "transitionTo" '/'}}>
                <!--<img class="page-logo" src="../jemlogo-transparent.png" />-->
                <img class="page-logo" src="../jemlogo.png" />
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-xl-4 text-center nav-text" {{action "transitionTo" '/tracks'}}>
                        <h5>Tracks</h5>
                    </div>
                    <div class="col-xl-4 text-center nav-text" {{action "transitionTo" '/albums'}}>
                        <h5>Albums</h5>
                    </div>
                    <div class="col-xl-4 text-center nav-text" {{action "transitionTo" '/artists'}}>
                        <h5>Artists</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-xl-9">

                    </div>
                    <div class="col-xl-3">
                        {{reload-all-button click=(action "reload")}}
                    </div>     
                </div>
            </div>
        </div>
    </div>
</div>
